<div class="datePicker" ng-click="handleClick()">
    <input class="datePickerInfo" type="text"  ng-click="clickDatePicker()" ng-model="displayDate" readonly placeholder="select date range"></input>
    <div class="calendar" ng-show="expandDatePicker">
        <div class="selectMonthYearBar">
            <button ng-click="previousMonth()">Previous</button>
            <select ng-model="range" ng-options="range.name for range in ranges" ng-change="quickDateRange(range)"></select>
            <button ng-click="nextMonth()">Next</button>
        </div>

        <table>
            <thead class="dateHead">
                <td ng-repeat="d in dpObj.displayYearMonth track by $index">{{ d }} </td>
            </thead>

            <td ng-repeat="row in dpObj.rows">
                <div>
                    <table class="dateTable">
                        <thead>
                            <tr>
                                <td>Su</td>
                                <td>Mo</td>
                                <td>Tu</td>
                                <td>We</td>
                                <td>Th</td>
                                <td>Fr</td>
                                <td>Sa</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="week in row">
                            <td ng-repeat="day in week track by $index" class="day" ng-class="getClassForDays($parent.$index, $index, $parent.$parent.$index)" ng-click="onDayClick($parent.$index, $index, $parent.$parent.$index)">{{ day }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <tbody>
            <tbody>
        </table>
        <div class=fromToBar>
            From <input ng-class="{fromToDisplay: fromDateToSelect}" ng-model="fromDate" type="text" readonly></input>
            To <input ng-class="{fromToDisplay: !fromDateToSelect}" ng-model="toDate" type="text" readonly></input>
        </div>
    </div>
</div>
